.CFUserTextEncoding
.DS_Store
.Trash/
.bash-preexec.sh
.bash_history
.bash_sessions/
.git-credentials
.gitconfig
.local/
.ssh/
.swp
.vim/
.viminfo
Applications/
Desktop/
Documents/
Downloads/
Library/
Movies/
Music/
Pictures/
Public/
