.bash_sessions
.vim
.viminfo
.CFUserTextEncoding
.DS_Store
.Trash
.bash-preexec.sh
.bash_history
.swp
Applications
Desktop
Documents
Downloads
Library
Movies
Music
Pictures
Public
.gitconfig
.ssh
.git-credentials
.local
